<h2 id='title'>Glance RSS</h2>
<p>{{#link-to 'index'}}Home{{/link-to}} | {{#link-to 'about'}}About{{/link-to}}

<ul>
{{#each}}
  <li>{{#link-to 'channel' this}}{{title}}{{/link-to}}</li>
{{/each}}
</ul>
{{outlet}}
